[2012-11-10 00:13] dirk-thomas opened #2 "support command line arguments for single plugins"
Support passing command line arguments to a plugin.

Since the framework might run arbitrary plugins it would be extremely difficult and messy for the user to specify arguments for multiple plugins. Therefore this will only be supported for invocations of single plugins (--stand-alone, --command-start-plugin, --embed-plugin).

[2012-11-14 02:59] #2 closed, assigned to dirk-thomas

[2012-11-22 02:09] ablasdel opened #3 "pyside shiboken c++ plugins are not available"
I have the latest installed and when using pyside on groovy I get this error:

Could not import "pyside" bindings of qt_gui_cpp library - so C++ plugins will not be available:
Traceback (most recent call last):
  File "/u/ablasdel/ros_sandbox/ros_gui/qt_gui_core/qt_gui_cpp/src/qt_gui_cpp/cpp_binding_helper.py", line 43, in <module>
    import libqt_gui_cpp_shiboken
ImportError: No module named lib

[2012-11-22 02:22] ablasdel opened #4 "_Toggle_dockable callback broken in pyside"
TypeError: _toggle_dockable() takes exactly 2 arguments (1 given)

[2012-11-22 02:35] #4 closed, assigned to ablasdel

[2012-11-22 10:10] #3 closed, assigned to dirk-thomas

[2012-11-28 01:09] jonbinney opened #6 "python plugin finding should be a separate package/repo"
The plugin finding capability for python which is provided here would be very useful on its own.

[2013-01-15 03:57] dirk-thomas opened #9 "fails to start when the dbus package is available but not session bus"
If the dbus package is available qt_gui assumes that dbus will work. But later when trying to get a SessionBus it fails with the following exception:

[code]

Reported by @jkammerl

[2013-01-15 04:00] #9 closed, assigned to dirk-thomas

[2013-01-15 06:48] jkammerl opened #10 "rqt_gui doesn't launch - AttributeError: 'Namespace' object has no attribute 'cache_plugins'"
im@prl1:~/code$ rosrun rqt_gui rqt_gui
Traceback (most recent call last):
  File "/opt/ros/groovy/lib/rqt_gui/rqt_gui", line 16, in <module>
    sys.exit(main.main())
  File "/home/im/code/src/qt_gui_core/qt_gui/src/qt_gui/main.py", line 378, in main
    self._add_plugin_providers()
  File "/opt/ros/groovy/lib/python2.7/dist-packages/rqt_gui/main.py", line 59, in _add_plugin_providers
    if self.

[2013-01-15 07:02] #10 closed, assigned to nobody

[2013-01-17 04:06] ablasdel opened #11 "qt_dotgraph: enhancements to be a full replacement for the xdot library"
@jbohren suggested on trac that qt_dotgraph needed further enhancement to fully replace xdot.
I have migrated the ticket from trac to github for discussion.

migrated from trac:
https://code.ros.org/trac/ros/ticket/3218

comments from trac:
Changed 2 years ago by alexbravo

attachment xdot.tar.gz   added
Changed 21 months ago by alexbravo

owner changed from alexbravo to kwc
status changed from as

[2013-01-27 21:07] 130s opened #12 "Add shortcut keys on menus"
Current existing menus: File, Plugin, Running, Perspectives, Help
Nice to be able to tap on those by shortcut keys

[2013-01-27 21:08] #12 closed, assigned to nobody

[2013-03-22 22:44] dirk-thomas opened #13 "option to minimize plugins"
Option to minimize plugins without closing them but reducing the space on the screen to a bare minimum.

[2013-03-22 22:47] dirk-thomas opened #14 "prevent dock widgets to reparent into non-rqt main windows"

[2013-03-23 01:02] dirk-thomas opened #15 "allow standalone plugin invocation without plugin discovery"
When a plugin provides a script as an entrypoint to invoke itself in standalone mode it should be able to perform that without any plugin discovery overhead.

[2013-04-02 14:07] stonier opened #16 "No package path getting set in python plugins"
Had a breakage in https://github.com/yujinrobot/kobuki_desktop/issues/10.

Maybe due to this update: https://github.com/ros-visualization/qt_gui_core/commit/295a040845dd2290de9c22e80bd41d7c53f413db

plugins_menu.py made a change:

[code]

But python plugin descriptors are not setting their package path. Printing the descriptor dictionaries you can see something like this:

[code]

Notice package_p

[2013-04-06 22:17] #14 closed, assigned to nobody

[2013-05-13 23:37] dirk-thomas opened #18 "enable preconfigured perspectives"
It should be possible to ship a preconfigured rqt perspective. Since export/import of perspectives is already supported the easiest way to achieve this by passing the file of an exported perspective on the command line.

[2013-05-13 23:40] #18 closed, assigned to dirk-thomas

[2013-05-14 23:16] dirk-thomas opened #19 "support icons for each dock widgets"

[2013-05-14 23:18] #19 closed, assigned to dirk-thomas

[2013-05-16 00:51] #13 closed, assigned to nobody

[2013-05-22 21:34] dirk-thomas opened #20 "containers are closable even when perspective is locked"

[2013-05-22 21:36] dirk-thomas opened #21 "add option to freeze layout of dock widgets"
disable toggling between floating and docked, prevent rearranging dock widgets

[2013-05-22 21:37] #20 closed, assigned to dirk-thomas

[2013-05-22 22:41] #21 closed, assigned to dirk-thomas

[2013-06-07 00:44] #16 closed, assigned to dirk-thomas

[2013-07-27 00:00] scpeters opened #23 "Allow qt plugins to specify a preference for relative positioning"
When plotting multiple topics in rxplot, each topic would be displayed in its own vertically-stacked subplot. Here's an example from a [drcsim tutorial](http://gazebosim.org/wiki/Tutorials/drcsim/2.7/controller_synchronization).
![GitHub Logo](http://gazebosim.org/w/images/thumb/f/f7/Sync_exhaust_stats.png/640px-Sync_exhaust_stats.png)

Based on the [discussion of rqt_common_plugins issue 86](http

[2013-08-03 10:26] tkruse opened #24 "qt_gui does not handle Ctrl-C benignly"
This on installed hydro. Note Crt-C was pressed, in the output at ^C
Output could be improved.

[code]

[2013-08-07 22:42] #24 closed, assigned to nobody

[2013-08-19 18:14] #11 closed, assigned to nobody

[2013-08-22 19:19] venabled opened #26 "SIP Bindings failing to build on OSX with new version of SIP (4.15.0_0)"
It's the macports team here again (@kyonifer and myself).

I recently was able to compile ros-desktop on an older Macbook Pro using Macports a little over a week ago. In the mean time it looks like ports upgraded SIP from 4.14.7_0 to 4.15.0_0, which (my best estimate) is what is causing the SIP bindings to fail to compile. wstool is pulling in qt_gui_cpp 0.2.16.0, the same as on my other machine,

[2013-09-03 07:17] tkruse opened #27 "remove me as maintainer of qt_dotgraph"
I am listed in package.xml as maintainer, but I am not maintaining.

[2013-09-19 00:30] #27 closed, assigned to nobody

[2013-09-20 22:25] #26 closed, assigned to dirk-thomas

[2013-10-11 15:41] DorianScholz opened #30 "problem with minimized container widgets"
Minimizing the dock widgets of plugins works fine.
But minimizing a container leads to unexpected results:

1) an minimized empty container has no representation in the minimized toolbar
- it can only be shown again using the context menu of the dock widget title bars

2) a minimized container with dock widgets inside is represented as individual dock widgets in the toolbar
- it is not clear that

[2013-10-11 21:21] dirk-thomas opened #32 "closing containers via 'X'"
When closing a container via the 'X' button in the dock widget title bar the following stack trace is printed:

See https://github.com/ros-visualization/qt_gui_core/pull/31#issuecomment-26168378

<pre>
$ rqt --clear-config
WARNING: Package name "swig-wx" does not follow the naming conventions. It should start with a lower case letter and only contain lower case letters, digits and underscores.
WAR

[2013-10-11 23:23] #30 closed, assigned to dirk-thomas

[2013-10-11 23:27] #32 closed, assigned to dirk-thomas

[2013-11-01 21:52] dirk-thomas opened #33 "sip bindings don't build when path contains spaces"

[2013-11-01 21:54] #33 closed, assigned to dirk-thomas

[2013-11-14 16:57] boris-il-forte opened #35 "qt_gui_cpp fails to build on debian Jessie"
I ask here because on the ros answers website I haven't got any response.

I'm triyng to build qt_gui_cpp on debian jessie. The last time I've tried I've got the same issue:

when running the compilation, shiboken crashes (Segmentation Fault), thus i'm unable to compile correctly the code.

Last time i've solved updating shiboken, but this time I've the same version of shiboken as the ubuntu one.

[2013-12-01 14:06] iamdarksorcerer opened #36 "Enhancing support for DOT file syntax"
Hi,
I am working on a ROS plugin for graph visualization (FSMS, Behavior Trees, UML, state charts etc... ) at Cogniteam.

We are currently extending the support for DOT the file format in node_item.py(qt_dotgraph).
The goal is to enable various shapes, properties, clusters and layouts.
1. Would you be interested in integrating such code into qt_dotgraph ?
2. Hierarchy seems not fully supported. Cu

[2013-12-03 05:25] wjwwood opened #37 "Incorrect build_depends"
This build depend should be with `_`'s and not `-`'s, I believe:

https://github.com/ros-visualization/qt_gui_core/blob/groovy-devel/qt_gui/package.xml#L20

@dirk-thomas?

[2013-12-03 07:18] #37 closed, assigned to nobody

[2014-01-19 09:55] #35 closed, assigned to dirk-thomas

[2014-05-20 06:44] tfoote opened #42 "dependency pydot doesn't work on Saucy"
Unfortunately pydot doesn't work on Saucy.

Ticketed here upstream: https://code.google.com/p/pydot/issues/detail?id=81

Manually applying the patch from that ticket works.

[code]

I'm mostly putting this here so others can know the problem and workaround. I've ticketed it upstream at: https://bugs.launchpad.net/ubuntu/+source/pydot/+bug/1321135

The error will manifest itself like this:

[code]

[2014-05-21 17:29] #42 closed, assigned to nobody

[2014-07-18 12:22] NikolausDemmel opened #47 "qt gui fails on recent OS X homebrew due to outdated pyqt"
From here http://answers.ros.org/question/186630/indigo-rqt_image_view-depends-on-build_isolated/?answer=186648#post-id-186648:

[code]

It seems like `python_qt_binding` generates sip modules for API v11.0, but on OSX/Homebrew PyQt is version 10.

My (not yet successful) attempt to update the pyqt formula to 11.0: https://github.com/Homebrew/homebrew/pull/30881

[2014-08-05 16:05] #47 closed, assigned to nobody

[2015-01-23 12:26] galou opened #49 "simplify does not have any effect in add_edge_to_graph"
`simplify` does not have any effect in add_edge_to_graph

With the following code, siblings edges are not shown.
[code]

They show up however with `graph = dotcode_factory.get_graph(simplify=False)`, independently of whether `simplify=False` is used in `add_edge_to_graph` or not.

[2015-01-23 12:34] galou opened #50 "qt_dotgraph: style does not have any effect in add_edge_to_graph"
With the following code, the edge lines are still solid.
[code]

[2015-01-26 23:29] dirk-thomas commented on #50
The attribute seems to be set correctly:

    graph.get_edges()[0].get_style()

returns

    'dashed'

for me.

Is that the case for you too?
How do you render the `graph`?

[2015-01-27 08:51] galou commented on #50
The style was indeed not used further. Cf. https://github.com/ros-visualization/qt_gui_core/pull/51.

[2015-02-02 19:21] dirk-thomas commented on #49
Which version of pydot are you using?

[2015-02-04 19:30] imr-ctu commented on #50
This issue can be closed.

[2015-02-04 19:36] imr-ctu opened #52 "[qt_dotgraph] test result throws "ImportError: No module named pygraphviz""
The test `PygraphvizFactoryTest` should be removed or
`<test_depend>python-pygraphviz</test_depend>` added to package.xml.

[2015-02-04 19:38] #50 closed

[2015-02-04 19:40] dirk-thomas commented on #52
Can you please create a PR with the additional test dependency.

[2015-02-04 20:23] galou commented on #52
Cf. #53.

[2015-02-06 20:31] galou commented on #49
pydot.___version__ = '1.0.28'

[2015-02-06 20:46] dirk-thomas commented on #49
I think your expectation is "wrong". Please see the documentation of PyDot: http://pydotplus.readthedocs.org/en/latest/reference.html#pydotplus.graphviz.Graph.set_simplify

The graph instance will still "know" about both edges but when being rendered (e.g. using `create_dot()`) parallel edges will be ignored (the dot code generated for your example only contains the edge `a` but not the edge `b`).

[2015-02-06 21:00] galou commented on #49
If I understand correctly. The sibling edges will appear in the exported dot file but are not rendered. Is it true?

[2015-02-06 21:11] dirk-thomas commented on #49
`dotcode_factory.create_dot(graph)` does not contain the edge `b` for me.

[2015-04-30 00:01] dirk-thomas commented on #52
Sorry for the delay. Fixed after merging #53.

[2015-04-30 00:01] #52 closed

[2015-04-30 00:02] dirk-thomas commented on #49
I will close this ticket since I assume this is not a bug based on the discussion. Please comment to reopen if you disagree.

[2015-04-30 00:02] #49 closed

[2015-04-30 06:46] galou commented on #49
It's maybe not a bug but we should not keep a parameter that has no effect. This could be done when the next API change is planned.

[2015-04-30 18:40] dirk-thomas commented on #49
The flag *does* have an effect as mentioned above. The behavior change is only different from what you expected.

[2015-06-16 13:28] DorianScholz opened #55 "Use Q_ macros instead of signals, slots, emit for boost signals compatability"
Compiling a rqt_gui_cpp plugin which (transitively) depends on boost signals (e.g. via tf package) fails to compile due to macro name clashes of Qt's "signals", "slots", "emit" macros as described here:
http://wiki.ros.org/qt_ros/Tutorials/Mixing%20Qt%20and%20Boost%20Signals

For such a plugin to compile the QT_NO_KEYWORDS flag can be set in its cmake file:
ADD_DEFINITIONS(-DQT_NO_KEYWORDS)

But t

[2015-06-16 18:38] scpeters opened #56 "Migrate to qt5 before December 2015"
From [announcement of qt 4.8.7](http://blog.qt.io/blog/2015/05/26/qt-4-8-7-released/):

"Qt 4.8.7 is planned to be the last patch release of the Qt 4 series. Standard support is available until December 2015, after which extended support will be available. We recommend all active projects to migrate to Qt 5, as new operating systems and compilers with Qt 4.8 will not be supported."

[2015-06-16 18:39] scpeters commented on #56
We need to do the same for gazebo. We will post updates on our progress.

[2015-06-16 18:46] dirk-thomas commented on #56
The problem is `qt_gui_core` is supposed to work with both `PyQt` as well as `PySide` but `PySide` is not available for Qt5 atm.

[2015-06-16 18:53] scpeters commented on #56
Hm... looks like http://www.pyside.org is down right now

[2015-06-16 18:56] esteve commented on #56
PySide moved to the http://qt.io website:

https://wiki.qt.io/Category:LanguageBindings::PySide

Here's the roadmap, but I don't know how much of PySide has been ported to Qt5:

https://wiki.qt.io/PySide_Roadmap

[2015-06-16 19:06] scpeters commented on #56
Looks like the [last commit was 11 months ago](http://code.qt.io/cgit/pyside/pyside.git/)

[2015-07-11 00:08] dirk-thomas commented on #56
There is hope: https://github.com/PySide/pyside-setup/commit/e7f0215c79b7ccb631bc913c8cc9bb77cfe8a1cc

[2015-07-16 20:49] mikepurvis opened #57 "QT-related build error on Mac OS X 10.10"
Something to do with Python bindings:

[code]

[2015-07-17 17:28] mikepurvis commented on #57
Related question: http://answers.ros.org/question/211546/fatal-error-qmetatype-file-not-found-when-building-ros-indigo-on-os-x-10103/

The following workaround, though horrible, does seem to make it build happily:

[code]

[2015-07-17 17:32] dirk-thomas commented on #57
It looks like there is nothing we can do about in the ROS package?

[2015-07-17 17:34] mikepurvis commented on #57
If this is a problem with QT's cmake find module, then yeah, nothing can be done I suppose. But this is the first affected package in a desktop_full build. :|

[2015-07-17 17:38] dirk-thomas commented on #57
You could output all the CMake variables Qt's CMake module returns and check if they are consistent. WIthout having OS X to test this I would guess it might be more likely a bug where the files are being installed.
Are all other files (except QMetaType.h) available in both version folders? Is CMake reporting the wrong Qt version was found?

[2015-09-17 16:43] dirk-thomas commented on #56
There is currently a lot of activity in the PSide repos with the suffix `2` (https://github.com/PySide) which is very promising.

[2015-10-26 16:03] samuelba opened #58 "renaming container"
Containers are very useful, however if you have multiple of them and organize them in tabs, you see only "Container", "Container (2)", etc.

It would be nice if we could rename them.

I modified plugin_handler_container.py and added a custom title bar for containers, to achieve that. You can have a look at the solution here: https://github.com/ethz-asl/qt_gui_core/tree/feature/rename-container

It

[2015-10-28 08:18] DorianScholz commented on #58
Great idea, thanks for putting some work into this!

I can't test it at the moment but here are my thoughts from reading the code and thinking about the general idea:

1) renaming containers is good, but why not allow renaming of every dock widget? Maybe adding the original name at the end to avoid confusion, e.g. "simulation data (container)"

2) using the double click event on the label for rena

[2015-10-28 09:09] samuelba commented on #58
1) + 4) yes, probably a good idea to implement that for all dock widgets and avoid duplicated code. I'll fix that. However, adding the original name isn't an option for me, because that would increase the title length and therefore the minimal width of the plugin. Also the title and UI should be meaningful enough. And if somebody wants that, on can rename the title accordingly.

2) yes double clic

[2015-10-28 13:04] samuelba commented on #58
I changed the code, such that one can rename every dock widgets and did a pull request https://github.com/ros-visualization/qt_gui_core/pull/59

[2015-10-28 19:16] #58 closed

[2015-12-09 15:46] ShawnSchaerer commented on #56
Is anybody actively working on this? If not I will.

[2015-12-09 17:42] dirk-thomas commented on #56
No, currently nobody works on this. If you want to look into it the order would be:
* https://github.com/ros-visualization/python_qt_binding
* this repo
* https://github.com/ros-visualization/rqt
* and then the various plugins

The most problematic part will likely be the PySide bindings.

[2015-12-10 14:52] ShawnSchaerer commented on #56
I will start to look at it

[2015-12-30 22:20] ahundt commented on #56
Any luck with this? I'm using code that depends on qt5 and I'm on a new project that uses ROS so the dependency conflict is an issue for me.

[2015-12-30 22:22] ShawnSchaerer commented on #56
I have not looked in depth at it.  it will be a while.  Been focusing on
the URDF v2 / new robot format at the moment :)

On Wed, Dec 30, 2015 at 4:20 PM, Andrew Hundt <notifications@github.com>
wrote:

[2015-12-30 22:24] ahundt commented on #56
Ok thanks, the information is helpful so I can plan accordingly!

[2015-12-30 22:26] dirk-thomas commented on #56
@ahundt What is the conflict you are facing? Afaik Qt 4 and 5 is side-by-side installable so it should be possible to run two applications with different major versions of Qt at the same time.

[2016-01-05 07:41] ahundt commented on #56
@dirk-thomas homebrew doesn't seem to encourage side-by-side installation, and I can't use other dependencies that need (or work better with) qt5 when this one is using qt4.

[2016-01-05 18:06] scpeters commented on #56
Here's the source of the homebrew troubles:

* https://github.com/Homebrew/homebrew/issues/16471#issuecomment-12557188

Qt5 can still be installed in a separate prefix (`keg-only`), so as a workaround, it could still be usable if you add that prefix to the appropriate environment variables.

[2016-01-26 21:52] ahundt commented on #56
Even if both are installed on one machine, am I correct in thinking a single application cannot link to both qt5 and qt4 safely?

[2016-01-26 23:26] dirk-thomas commented on #56
Yes, I am pretty sure a single application can only use a single version.

[2016-01-28 22:56] spmaniato commented on #57
Hello @mikepurvis, I'm installing ROS on OS X using your `install` script and instead of `/usr/local/Cellar/qt/4.8.7` I have `/usr/local/Cellar/qt/4.8.7_2`. I should still do the _equivalent_ of the instrucitons below, right? Thanks!
[code]

[2016-03-09 22:11] nicolaerosia commented on #56
Any updates on this? Will this go in Kinetic?
I see you've worked on this:
https://github.com/ros-visualization/qt_gui_core/tree/qt5
https://github.com/ros-visualization/python_qt_binding/tree/qt5
https://github.com/ros-visualization/rqt/tree/qt5
https://github.com/ros-visualization/rqt_common_plugins/tree/qt5

Have I missed a repo where's a qt5 branch?

[2016-03-09 22:23] dirk-thomas commented on #56
Yes, the decision has been made that it will happen for Kinetic. See ros-infrastructure/rep#112.

[2016-04-01 21:08] #56 closed

[2016-04-27 21:56] dirk-thomas opened #66 "C++ plugins not working with PySide 2 [Qt 5]"
It looks like the generated bindings have a probleming passing `QString`'s back and forth between the languages. That is especially being used to specify the export tag and base class of ROS plugins (https://github.com/ros-visualization/qt_gui_core/blob/1472948a5b9f144e8fc8c30c8259f20948da141f/qt_gui_cpp/include/qt_gui_cpp/ros_pluginlib_plugin_provider.h#L74) as well as by the returned discovery i

[2016-05-26 14:47] samuelba opened #67 "QApplication.setAttribute(Qt.AA_X11InitThreads, True) breaks QX11EmbedContainer"
Because of the commit [73182dc](https://github.com/ros-visualization/qt_gui_core/commit/73182dc12ac93676eff8b103eb7f374edae9fe3d) QX11EmbedContainer stops working. When calling

[code]
the embeded window disappears as expected, but does not appear in the rqt plugin. The rqt plugin stops working and freezes.

Why do I need QX11EmbedContainer in a rqt plugin? Because I wrote a rviz wrapper, that emb

[2016-05-27 05:29] samuelba commented on #67
Why is `QApplication.setAttribute(Qt.AA_X11InitThreads, True)` before `app = QApplication(argv)`?

Because in the following way `QX11EmbedContainer` is working:

[code]

[2016-05-27 13:25] akgoins commented on #67
@samuelba, I was following the code provided by another post [here](http://answers.ros.org/question/208445/error-using-rqt-with-xming-69031-through-putty/) for fixing the X11/PuTTY issue.  I am not against changing the code if it fixes your problem.

[2016-05-27 13:57] samuelba commented on #67
@akgoins can you please test if X11/PuTTY is still working with `app.setAttribute(Qt.AA_X11InitThreads, True)`? Because, I tried both solutions with Win10, PuTTY and the Xming X server, but both solutions failed. So I cannot verify if it is working at all.

[2016-06-01 16:25] dirk-thomas commented on #67
Setting the attribute after construction the application object will make it not have any effect.

Since the attribute is required for the use case described in #62 but it seems to have a problem when using `--multi-process` (and embedding widgets from external processes) I would propose the following:

* keep the attribute before the construction of the application object
* only conditionally set

[2016-06-01 16:33] dirk-thomas commented on #67
Btw `AA_X11InitThreads` only affects Qt 4 so this is only relevant for Indigo and Jade. In Qt 5 the attribute doesn't have any effect anymore (therefore I removed it in b2da02c8cfa77e89afc7241fe1ef854d02bda191).

[2016-06-01 16:44] dirk-thomas commented on #67
I have created a PR with the proposed change: #68 Can you please test the code from that branch and comment back if it works for your use cases.

[2016-06-02 12:39] samuelba commented on #67
That doesn't solve the issue with the `QX11EmbedContainer`, but I guess that's not possible anyways if both PuTTY and `QX11EmbedContainer` should work. So, we will just work with our fork and remove `AA_X11InitThreads` there, since we don't need PuTTY. And when switching to Kinetic and QT5 everything is different anyways.

[2016-06-02 20:21] dirk-thomas commented on #67
@samuelba I don't understand your last comment. Originally you mentioned that you are using `QX11EmbedContainer` (which means you are using the multi process option `-m`). The `AA_X11InitThreads` attribute broke this use case for you. My PR #68 now removes that attribute again when using the multi process option but that doesn't fix it for you?

Also you mention to use a fork. Can you please clari

[2016-06-02 20:34] samuelba commented on #67
@dirk-thomas sorry for the confusion, but no I'm not using `QX11EmbedContainer` with the multi process `-m` option. I'm not a big fan of the multi process option, for me it never worked well with many rqt plugins in one perspective.

[2016-06-02 20:36] dirk-thomas commented on #67
But how are you using `QX11EmbedContainer` then?

[2016-06-02 20:42] samuelba commented on #67
I add a `QX11EmbedContainer` to an rqt plugin, get the desired Rviz window ID (that was launched in its own process) with `wmctrl -l`, and use `container->embedClient(windowId);` to embed the Rviz window into the rqt plugin.

[2016-06-02 20:53] dirk-thomas commented on #67
Then I guess the only thing which would help for your case would be a command line option to skip setting the attribute. Wouldn't that be better then maintaining a fork?

[2016-06-03 05:27] samuelba commented on #67
Yes, a command line option would be nice.

[2016-08-05 20:01] dirk-thomas commented on #67
Addressed by #69.

[2016-08-05 20:01] #67 closed

[2016-10-03 14:46] dirk-thomas commented on #57
Is this problem still relevant or can this be closed?

[2016-10-03 14:53] spmaniato commented on #57
Looking at the latest version of the OS X installation script, I believe it can be closed 👍  @mikepurvis can confirm.

[2016-10-13 22:48] #57 closed

[2016-11-02 09:10] samuelba opened #71 "New version e.g. 0.2.31 with pull request #69 for Indigo"
Can someone please release a new version for Indigo with pull request #69 included? The pull request was accepted and merged to the `groovy-devel` branch, but since then there was no new version for the Indigo release.

[2016-11-02 18:22] dirk-thomas commented on #71
Done: 81098f7de61c1cbb08a24822a48bda3d896454a3 https://github.com/ros/rosdistro/pull/13120 It will take a few hours until the Debian packages arrive in the testing repo. And then until the next sync to be available from the main repo.

[2016-11-02 18:22] #71 closed

[2017-01-23 09:52] manish-nayak opened #79 "rosrun rqt_graph rqt_graph shows error NameError: name 'basestring' is not defined"
I have started the ROS tutorials and when I try to run rqt_graph it gives me a basestring error.
I am using Ubuntu 16.04, and Kinetic distro. I am using python 3.5.2 using Anaconda.

`Traceback (most recent call last):
File "/opt/ros/kinetic/lib/rqt_graph/rqt_graph", line 8, in <module>
sys.exit(main.main(sys.argv, standalone='rqt_graph.ros_graph.RosGraph'))
File "/opt/ros/kinetic/lib/python2.7/di

[2017-01-23 16:39] dirk-thomas commented on #79
ROS officially only supports Python 2. So I would suggest you use that instead. Pull requests to make the code work with both Python versions are always welcome.

[2017-01-24 19:03] dirk-thomas commented on #23
In the meantime the ticket has been moved but the problem is still the same with newer Qt versions: https://bugreports.qt.io/browse/QTBUG-32749

[2017-01-24 20:33] dirk-thomas commented on #79
While addressing other tickets I took some time to at least fix the obvious syntax errors with Python. See the related PRs:
* #81
* ros-visualization/rqt#113
* ros-visualization/rqt_common_plugins#421
* ros-visualization/rqt_robot_plugins#121

But I don't expect that everything and especially all plugins will work flawlessly in Python 3. Therefore I still recommend to use Python 2 for ROS.

[2017-01-24 20:33] #79 closed

[2017-01-25 01:41] manish-nayak commented on #79
Sure. Thanks.

On Wed, 25 Jan 2017 2:03 AM Dirk Thomas, <notifications@github.com> wrote:

[2017-03-22 00:27] lucasw commented on #21
I just tried this out in jade and many configuration options aren't covered by the `--lock-perspective`:

This is no lock:

![rqt_no_lock](https://cloud.githubusercontent.com/assets/1334122/24176725/022ac228-0e5b-11e7-9daa-d636422ffc2f.png)

This is with lock:

![rqt_lock](https://cloud.githubusercontent.com/assets/1334122/24176733/0b2e9232-0e5b-11e7-914f-1a4fa669cffd.png)

And undocking with lock

[2017-03-22 01:07] DorianScholz commented on #21
The command line option "lock perspective" is only meant to keep the set of running plug-ins fixed, not freeze the widgets in place:
-l, --lock-perspective lock the GUI to the used perspective (hide menu bar and close buttons of plugins) (This still allows to move/resize dockwidgets, but not open/close)

There could be an additional option to freeze the layout, which should only be allowed when th

[2017-03-22 16:15] lucasw commented on #21
I misunderstood before but I now see in the commit above there is a `--freeze-layout` option that was added https://github.com/ros-visualization/qt_gui_core/commit/03e3e1d8efd217cdeffa4533257c4c931c2ca5ec#diff-d600e8ab3bcb5a1a27a67b4bc6f1e65cR81 and I've tried it and it does work (in combination with -l as described).  And it is documented in `rqt --help`.

I do have use cases for hiding the whole

[2017-07-05 12:40] lucasw opened #92 "Remove trailing spaces from perspective files"
I check .perspective files into git frequently and git diff highlights the spaces at the end of lines, which is distracting.

qt_gui/src/qt_gui/perspective_manager.py

https://github.com/ros-visualization/qt_gui_core/blob/a2ffd5b978af9bc65f21e57b4c89c5d939154156/qt_gui/src/qt_gui/perspective_manager.py#L371

    file_handle.write(json.dumps(data, indent=2))

to

    file_handle.write(json.dumps(da

[2017-07-05 13:06] DorianScholz commented on #92
How about
`file_handle.write(json.dumps(data, indent=2).strip(' '))`
to strip trailing spaces or even
`file_handle.write(json.dumps(data, indent=2).strip())`
to strip trailing spaces and empty lines?
This would leave anything inside the JSON code as is.

[2017-07-05 16:23] lucasw commented on #92
You mean why does json dumps do that?  It looks like they didn't want to fix it in case it broke something https://bugs.python.org/issue16333

[2017-07-06 16:35] dirk-thomas commented on #92
Addressed by #93. Thanks.

[2017-07-06 16:35] #92 closed

[2017-07-24 21:02] dirk-thomas opened #98 "rqt perspective saves window size in a resolution dependent manner"
_From @piyushk on July 24, 2017 20:53_

I believe that window resolution is being saved dependent on the current window size. It would make much more sense to save the window size in absolute pixels instead.

Steps to reproduce:
1. Run a fresh rqt gui instance with `--clear-config`
2. Add 2 plugins (Image view and Robot Steering), and resize the window to roughly a quarter of your screen. My scree

[2017-07-26 02:11] piyushk commented on #98
I had some time today to look at this issue. I think my original report is not reproducible in unity (I was using qtile as my wm when I ran the above test).

However, it seems like saveGeometry + restoreGeometry do not work well in x11 based systems (http://doc.qt.io/qt-5/restoring-geometry.html). I was able to solve my issue by simply saving and restoring size as the qt docs recommend (https://gi

[2017-07-26 20:31] dirk-thomas commented on #98
This page mentions the potential shift due to the window decoration. Afaik that is not a problem in Unity. You should be able to open / close rqt a few times and it should not shift on the screen but always appear in the exact same location.

The current patch assumes a fixes position of `0, 0` which doesn't seem generic enough. If you would like to provide a PR with an updated patch which stores

[2017-08-04 14:46] lucasw commented on #21
I'm seeing File and Help still visible when using -l now - this is using Ubuntu 16.04 with latest kinetic or lunar released packages, or qt_gui_core kinetic-devel either current or going back as far as 4568b4c7cc13009f4034a8335f15129c498d1548.  Maybe something changed with qt?

[2017-08-23 05:28] huckl3b3rry87 opened #105 "building kinetic from source"
I am trying to build kinetic from source and eventually I run into this error:
[code]
Also, I cloned the ``qt_gui_core`` kinetic-devel branch and ran into the same issue. Any insight would be much appreciated. Thanks!

[2017-08-23 06:47] dhood commented on #105
Hmm, the shiboken binding generator looks to be reporting issues where there aren't usually, e.g. `type 'qt_gui_cpp::RecursivePluginProvider' is specified in typesystem, but not defined. This could potentially lead to compilation errors.`

Could you provide the following please?
- operating system and version
- qt version
- shiboken version

Also, could you repost the output using `-j1` in the bui

[2017-08-23 07:51] huckl3b3rry87 commented on #105
@dhood thank you for the quick response, I appreciate it very much:)

    **operating system and version**
[code]

    **qt version**
[code]

    **shiboken version**
[code]

As you suggested, I removed shiboken (because I did not need it) with:
[code]
And then it was able to build! Thank you again!

[2017-08-23 07:51] #105 closed

[2017-08-23 16:34] dirk-thomas commented on #105
ROS Kinetic is targeting Qt 5 and `shiboken2`. Using Qt 4 is not supported by Kinetic (and newer ROS distros).

[2017-09-19 21:43] nikonikolov opened #107 "C++11 error when compiling from source"
I get the following error when I compile ROS kinectic from source on Slackware 14.2

[code]

It is fixed by manually editing `build_isolated/qt_gui_cpp/sip/qt_gui_cpp_sip/Makefile` and adding `-std=c++11` to `CXX_FLAGS`. There must be a better fix.

[2017-09-25 06:51] dirk-thomas commented on #107
Which version of Qt are you using?

[2017-09-28 23:09] huckl3b3rry87 commented on #105
@dirk-thomas somehow I accidentally installed ``shiboken`` again and ran into this issue. Would it make sense to check to see (based off of the packages that the user has) if they will run into this and print a warning?

[2017-09-28 23:30] dirk-thomas commented on #105
@huckl3b3rry87 If there is a way to detect that the necessary versions aren't available the package good indeed print an error message. Afaik `python_qt_binding` already looks only for PySide2 on Kinetic so I am not sure what happens on your system. If you could investigate it further and could provide a patch to catch this case that would be great to prevent other users from running into the same

[2017-09-28 23:49] huckl3b3rry87 commented on #105
@dirk-thomas I still have the same versions of ``qt`` and ``shiboken``. Turns out when I update my dependencies it puts ``shiboken`` (shibroken?) on there.
[code]
And if I then try to install ros after this, I get a similar, but different looking error:
[code]
It look like the files are not on my computer and that is why it is failing, but I am not sure why the correct files would not be there....

[2017-09-28 23:54] dirk-thomas commented on #105
Did you do a clean build (remove the build folder or at least the `CMakeCache.txt` file)?

[2017-09-29 00:27] huckl3b3rry87 commented on #105
@dirk-thomas yes, I always remove all folders except ``src`` and do a ``catkin init``

[2017-09-29 00:32] dirk-thomas commented on #105
@huckl3b3rry87 Since I don't see the same problem it would probably be best to provide steps which reproduce the problem in an isolated environment like docker.

[2017-09-29 00:54] huckl3b3rry87 commented on #105
@dirk-thomas can you see what package is causing ``shiboken`` to be installed? I could not find it.

But, yeah I guess that this issue is cause by something funky on my build

[2017-09-29 00:57] dirk-thomas commented on #105
[python_qt_binding](https://github.com/ros-visualization/python_qt_binding/blob/c36afe8515c5424501f106fe6303cc84ec11e4df/package.xml#L29-L31) depends on `shiboken2` which is provided by [this](https://github.com/ros/rosdistro/blob/ff88cb68007167c1336497fe506ada0ebab68a3f/rosdep/python.yaml#L2525-L2528) rosdep key.

[2017-10-01 12:03] nikonikolov commented on #107
Sorry I had an old release. It works fine with the latest.

[2017-10-01 12:03] #107 closed

[2017-10-23 19:13] dirk-thomas commented on #98
I will close this for now until it is clearer what needs fixing and how to do it within this package.

[2017-10-23 19:13] #98 closed

[2018-02-25 16:07] lucasw opened #109 "rqt --perspective-file crashes on unknown plugins"
[unknown_plugin.perspective.txt](https://github.com/ros-visualization/rqt/files/1756351/unknown_plugin.perspective.txt)

[code]

I'd like to make it instead generate an error message but then go on to try to load the rest of the perspective.

One more step beyond this could be to load a dummy plugin with an error message displayed in it so it's clear that what is missing from what part of the pers

[2018-03-06 19:33] dhood commented on #109
closed by https://github.com/ros-visualization/qt_gui_core/pull/110 with thanks

[2018-03-06 19:33] #109 closed

[2018-03-20 16:23] mpflanzer opened #112 "Problem with rpath in qt_gui_cpp_sip"
Forcing the rpath to the devel space is causing problems when the packages are used from the install space. Especially on macOS this is a problem since DYLD_LIBRARY_PATH is no longer searched since SIP is enabled. Hence, having a correct rpath is essential.

https://github.com/ros-visualization/qt_gui_core/blob/2333cb09e79dbe95df7eb41d14656d4d778aa2e1/qt_gui_cpp/src/qt_gui_cpp_sip/CMakeLists.txt#L

[2018-03-20 16:34] dirk-thomas commented on #112
Please consider proving a patch for this.

[2018-03-21 15:23] clalancette opened #113 "Release qt_gui_core into Melodic"
This is a friendly reminder that the Melodic buildfarm is [now available](https://discourse.ros.org/t/melodic-morenia-buildfarm-available/4248).  It would be great to have a release of `qt_gui_core` into Melodic, as it is currently directly blocking 15 packages and indirectly blocking 48 packages (http://repositories.ros.org/status_page/blocked_releases_melodic.html).  Thank you!

[2018-03-21 15:27] dhood commented on #113
@dirk-thomas did you have any changes planned? (you had mentioned rqt melodic releases at standup but wasn't sure if it was the release task alone or something more involved). If not, I'll go ahead and release the packages as-is? (provided it's all working)

[2018-03-21 15:36] dirk-thomas commented on #113
The recent change on master (#110) should not be released as-is since it introduces a regression which "breaks" existing perspectives. Since there hasn't been much progress on addressing the regression (I just commented on the ticket shortly ago) I think I will just release the already existing latest release into Melodic for now.

[2018-03-21 15:55] dirk-thomas commented on #113
ros/rosdistro#17197

[2018-03-21 15:55] #113 closed

[2018-03-21 16:02] dhood commented on #113
by as-is I also meant the latest released version, I'm aware the change in behaviour has an ongoing discussion which is why it hasn't been released into other distros yet. thanks for doing the release.

[2018-03-22 14:26] lucasw opened #115 "Optionally quit or remove missing plugin completely from perspective"
Continues #109 and #110

I've started a new branch c1f6baf which uses a SimpleSettingsDialog to ask the user if they want to quit when encountering a missing plugin or continue without it.  (If there are many missing plugins they'll have to click 'ok' that many times)

When they click continue the plugin doesn't appear, and if saved it properly isn't in the list of running-plugins in the .perspect

[2018-04-02 23:02] dirk-thomas commented on #66
The latest releases of PySide 2 are only targeting Python 3 and will therefore not be a supported backend until ROS 1 also targets Python 3.

[2018-08-29 15:28] lucasw opened #121 "Perspectives | Export AttributeError"
Launch rqt, then go to Perspectives and select Export:

[code]

Tried this on 16.04 kinetic and 18.04 melodic.

[2018-11-21 08:25] jendrikw opened #142 "fatal error: 'pyside2_global.h' file not found"
I'm trying to compile ros-melodic via the arch linux package on the AUR (https://aur.archlinux.org/packages/ros-melodic-qt-gui-cpp/), but I get the following error:

[code]

Any ideas? All other packages from melodic build fine.

[2018-12-04 18:52] brawner opened #151 "ROS2 Port: Port to pure python package"
Executables cannot be created using ament_cmake for Windows currently. qt_gui at least needs to be ported to a pure python package for ROS2

[2018-12-07 11:05] jonatanolofsson commented on #142
Did you solve this? I am having the same error. From what I have found so far, I can't add include paths through pikaur.. The file is located in /usr/include/PySide2

[2018-12-07 23:45] brawner opened #154 "Icons do not show in Mac/Windows without Tango installed"
Moving https://github.com/ros-visualization/rqt/issues/165 here. The icons do not show in MacOS or Windows because they need Tango installed or a compatible icon theme.

[2018-12-08 00:14] UtkarshKunwar commented on #142
@jonatanolofsson, @jendrikw  I fixed it by uninstalling `pyside2` and `pyside2-tools` and installing `sip` and `python-sip` as suggested on the [AUR page of the package](https://aur.archlinux.org/packages/ros-melodic-qt-gui-cpp/) by **kaur** on 2018-11-27.

[2019-01-03 02:14] brawner opened #165 "ROS2: dictionary plugin_manager._running_plugins changes size during iteration"
Switching perspectives that would unload a plugin causes access to a dictionary that changes size during the unloading. This wasn't noticed in ROS1 because python2 creates a separate list when calling ```dict.values()```.

https://github.com/ros-visualization/qt_gui_core/blob/4b22f7a4a482565c94399c0f704b0612f61bec5a/qt_gui/src/qt_gui/plugin_manager.py#L376

Traceback (most recent call last):
  Fil

[2019-01-17 15:13] jwhendy commented on #142
Grrr. I just ran into this myself and am confused. Should these packages be added to the makedepends? I had to manually install `shiboken2` and `python-shiboken2` as well.

[2019-01-22 19:07] sloretz opened #168 "[qt_dotgraph][ros 2] PygraphvizFactoryTest.test_create_dot fails on arm64 xenial linux"
This test has been failing since https://ci.ros2.org/job/nightly_xenial_linux-aarch64_release/194/#showFailuresLink

There was a qt + xenial change when the test started failing: ros2/ci#228 . Could it be the cause?

Along with the test failure there are a lot of warnings.

[code]

[2019-01-22 19:15] dirk-thomas commented on #168
The dot output is different between the versions available on Xenial and Bionic. Currently the test only supports the output produced on Bionic (since the ROS 2 branch is a fork of the `melodic-devel` branch). Since Xenial isn't being supported by ROS 2 moving forward I don't plan to address this.

[2019-01-24 20:02] dirk-thomas commented on #168
With the referenced PR merged I will close this ticket for now since there is no plan to make this pass on Xenial with Bionic being the only platform supported moving forward.

[2019-01-24 20:02] #168 closed

[2019-02-03 19:55] martonmiklos opened #171 "Array support in settings?"
Hello @dirk-thomas

I have came across an use case in an rqt plugin where I needed to save/restore a small but array like data and I have realized that the QSettings like begin{Read/Write}Array functions are not exposed through the qt_gui_cpp::Settings.

By peeking to the source I have seen that there might have been to implement them in the past:
https://github.com/ros-visualization/qt_gui_core/b

[2019-02-03 20:21] martonmiklos opened #172 "settings::allKeys throws std::runtime_error"
When calling qt_gui_cpp::Settings::allKeys I got:

`QMetaObject::invokeMethod: No such method Settings::all_keys()
terminate called after throwing an instance of 'std::runtime_error'
  what():  Settings::all_keys() invoke method failed`

I have not managed to figure out how this plugin system works 100%ly, but if I assume well a QSettings is loaded behind the Plugin.
And here:
https://github.com/r

[2019-02-17 17:22] jwhendy commented on #142
Back to unable to build. Without `pyside2` and `pyside2-tools`, I get:
[code]

With both installed, I get:
[code]

Despite:
[code]

I already have `sip` and `python-sip` installed.
[code]

[2019-02-17 23:35] jwhendy commented on #142
Update: I can bypass this if I edit `ros-melodic-qt-gui-cpp/src/qt_gui_core-release-release-melodic-qt_gui_cpp-0.3.11-0/src/qt_gui_cpp_shiboken/global.h` to include the directory:

[code]
My build then fails with not finding `pluginlib/class_loader.hpp` even though:
[code]

[2019-02-19 17:57] dirk-thomas commented on #142
@jwhendy You don't need `shiboken2` / `pyside2` to build this package and should use `sip` / `pyqt` instead. What you posted above is only a warning (`CMake Warning ...`) and not an error.

The fact that you are not finding any required headers indicates that you haven't sourced the setup file under `/opt/ros/melodic` before trying to build the workspace.

[2019-03-13 20:59] lepalom opened #174 "Could not be build with melodic and cmake > 3.13.x"
I'm trying to build qt_gui_cpp_sip (melodic version 0.3.11) and cmake 3.13.x in a Debian stretch box using catkin version from here https://github.com/ros/catkin/pull/998.

Although that patch solves some issues, still catkin or cmake or build system injects a -l-lpthread when it creates the Makefile for the SIP target. I have checked all the pkg files, and don't find where it comes from.

[ 94%]

[2019-03-13 21:06] dirk-thomas commented on #174
Can you please post the content of the following file: `<prefix>/lib/pkgconfig/rosconsole.pc`.

[2019-03-13 22:07] lepalom commented on #174
cat /usr/lib/x86_64-linux-gnu/pkgconfig/rosconsole.pc
prefix=/usr

Name: rosconsole
Description: Description of rosconsole
Version: 1.13.9
Cflags:
Libs:  -lrosconsole -lrosconsole_log4cxx -lrosconsole_backend_interface /usr/lib/x86_64-linux-gnu/liblog4cxx.so /usr/lib/x86_64-linux-gnu/libboost_regex.so /usr/lib/x86_64-linux-gnu/libboost_system.so /usr/lib/x86_64-linux-gnu/libboost_thread.so -lpthre

[2019-03-13 22:24] dirk-thomas commented on #174
You might want to output the content of various CMake variables (e.g. `qt_gui_cpp_LIBRARIES`, `catkin_LIBRARIES`, `Boost_LIBRARIES`, `qt_gui_cpp_LDFLAGS_OTHER`) in order to narrow down where the `-l-lpthread` is coming from.

[2019-03-13 22:35] lepalom commented on #174
Adding to src/qt_gui_cpp_sip/CMakeLists.txt:

message(STATUS "qt_gui_cpp libraries ${qt_gui_cpp_LIBRARIES}")
message(STATUS "Catkin libraries ${catkin_LIBRARIES}")
message(STATUS "Boost libraries ${Boost_LIBRARIES}")

I obtain:

-- qt_gui_cpp libraries
-- Catkin libraries /usr/lib/x86_64-linux-gnu/libclass_loader.so;/usr/lib/libPocoFoundation.so;/usr/lib/x86_64-linux-gnu/libdl.so;/usr/lib/x86_64-l

[2019-03-13 23:10] dirk-thomas commented on #174
You might want to run the build with `VERBOSE=1` to figure out where the linker argument is coming from.

[2019-03-14 08:21] lepalom commented on #174
No luck ...

i guess that the issue comes when it compiles the sip generated files. I have revised the CMake, the cmake/sip_helper.cmake file and I have not found any relevant info.

I'm really lost ...

[2019-03-14 17:48] dirk-thomas commented on #174
I just tried building up to `qt_gui_cpp` within an Ubuntu Disco docker container (using all development branches: `rosinstall_generator qt_gui_cpp --rosdistro melodic --deps --upstream-devel`) and it built fine for me.

I am not sure how your process looks like. Maybe you can describe it in more detail and/or can try a full from-source build (following the common ROS instructions)

[2019-03-14 20:21] lepalom commented on #174
I think that I have found it.
https://github.com/ros-visualization/python_qt_binding/pull/59

I was using python_qt_binding before that patch. Thanks for the hint. I couldn't reproduce it and I was checking with package introduced the error and found it.

[2019-03-14 20:23] #174 closed

[2019-03-23 14:32] 0novanta opened #175 "Failed to process package 'qt_gui_cpp'"
I'm trying to install ROS Kinetic following [this guide](http://wiki.ros.org/Installation/Source), so I get to this command `$ ./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release`, it runs for a while and it finishes processing package 'pluginlib' [69 of 191]. After this package there is 'qt_gui_cpp' and here it gives error and crashes.
This is the output of that last part o

[2019-03-23 15:24] dirk-thomas commented on #175
Does your workspace contain `catkin`? If yes, which commit - the latest release from Kinetic or the latest commit on the `kinetic-devel` branch? You will need the later to get both fixed you referenced

[2019-03-23 19:31] 0novanta commented on #175
Thanks for the reply! However I managed to solve the issue following solutions found on some github repo.

[2019-03-23 20:44] dirk-thomas commented on #175
It would be nice to reference the solution you found for future readers.

Also if your question has been resolved please consider closing your ticket.

[2019-03-24 08:42] 0novanta commented on #175
I know unluckily I do not remember where I've found it.

[2019-03-24 08:42] #175 closed

[2019-06-11 18:19] acxz opened #179 "Building qt-gui-cpp fails (could not find ament_cmake)"
When trying to build the latest release version of this package, I get the following cmake error:
[code]
I am trying to use this package with melodic. How would I go about in getting this package to build correctly under melodic? Or is this a change that needs to be pushed to the latest release version?

[2019-06-11 18:22] acxz commented on #179
Upon further searching, I have realized that ament is the build system for ros2. So then which latest release version should I use that is compatible with ros1 melodic?

[2019-06-11 18:27] acxz commented on #179
Figured out that 0.3.11 is the latest ros1 version, however this also failed for me on `/usr/bin/ld: cannot find -l-lpthred`.

[2019-06-11 18:29] #179 closed

[2019-06-17 12:40] windelbouwman commented on #154
How can you install this theme?

[2019-07-12 09:36] ftsell opened #180 "${SHIBOKEN_BINARY} not set when building from source"
When building the package `qt_gui_cpp` from source I get the error:

[code]

I believe this comes from the variable `${SHIBOKEN_BINARY}` being used in `python_qt_binding/cmake/shiboken_helper.cmake:49` but not set anywhere.

My system is:
- OS: archlinux
- Install-method: source
- VCS: on branch `crystal-devel`

[2019-07-24 00:11] danielwangksu opened #181 "Could this be a typo?"
`QRectF::QRectF(qreal x, qreal y, qreal width, qreal height)` the third variable should be width

Why we use `self._bounding_box.width() - self._bounding_box.height() * 0.1,` should it be `self._bounding_box.width() - self._bounding_box.width() * 0.1,`?

https://github.com/ros-visualization/qt_gui_core/blob/3d9de6ca2be2be38cfe561f7fe6fdc3744184dc4/qt_dotgraph/src/qt_dotgraph/dot_shapes.py#L18

[2019-07-24 00:12] dirk-thomas commented on #180
First I moved the ticket into the repo which contains the package which failed to build.

`Shiboken2` is being `find_package()`-ed here: https://github.com/ros-visualization/python_qt_binding/blob/5db90d4e8d1e68f518e5df2004243f76aac1d8a5/cmake/shiboken_helper.cmake#L18
The corresponding CMake config file will set some CMake variables. Maybe the variable names have changes in newer versions? Can yo

[2019-07-24 00:15] dirk-thomas commented on #181
All the `0.1 * <this>` equations use `height()` - for `x()` as well as `y()`. So I am not entirely sure this was intentional. Maybe the original author can comment on this: @MasterEric

[2019-07-31 19:19] ftsell commented on #180
Ahh I see. I'm not that fluent with CMake and didn't know that `find_package()` did that.

As for the version I currently have the package `shiboken2` at version `5.13.0` installed.

[2019-08-07 13:17] MikeChou commented on #180
CMake file from new versions of `shiboken2` do not set `SHIBOKEN_BINARY` variable but use `Shiboken2::shiboken2` target instead.

Workaround: change `${SHIBOKEN_BINARY}` to `Shiboken2::shiboken2` in `shiboken_helper.cmake`.

I'll report this upstream.

[2019-08-07 15:40] #180 closed

[2019-09-08 14:03] m01 commented on #142
@jwhendy, I'm getting similar errors on Arch Linux while trying to build ROS2:

[code]

Looking at the last build's `events.log`, I see the messages:
[code]
Both Shiboken2 and PySide2 are installed, but it seems that the variables that are being checked have perhaps changed - similar to https://github.com/ros-visualization/python_qt_binding/issues/69.

When I run
[code]
.. I don't find anything si

[2019-09-08 15:21] m01 commented on #142
Something like this appears to fix the PySide global header import issue when building ROS2 on Arch Linux:
[code]

References:
* https://github.com/ros-visualization/python_qt_binding/issues/69
* https://github.com/radareorg/cutter/blob/master/src/CMakeLists.txt

Now it fails for me with:
[code]

[2019-09-08 21:54] m01 commented on #142
### Issues
#### `pyside2_global.h` file not found

See my comments above for details. This appears to happen because the way how PySide2 expects to be used from CMake appears to have changed. The fix/workaround for this is included in the diffs below.

Fixing this leads to...

#### `pluginlib` header cannot be found
Regarding the issue around pluginlib's headers not being found, I think this is wh

[2019-09-30 20:09] dirk-thomas commented on #181
@MasterEric Friendly ping.

[2019-09-30 20:15] dirk-thomas commented on #165
Resolved in #167 a while ago.

[2019-09-30 20:15] #165 closed

[2019-09-30 20:23] dirk-thomas commented on #171
I am sorry for the late response. I don't know any reason why it wasn't implemented in the past - maybe it just wasn't needed.

If you are interested in this feature it would be great if you could consider contributing support for this (not sure if the commented API is the best way to go though).

[2019-09-30 21:19] dirk-thomas opened #183 "settings::getSettings throws std::runtime_error"
Follow up of #172. The [Python method](https://github.com/ros-visualization/qt_gui_core/blob/3d9de6ca2be2be38cfe561f7fe6fdc3744184dc4/qt_gui/src/qt_gui/settings.py#L44) needs a `@Slot` annotation which matches the C++ call.

[2019-09-30 21:20] dirk-thomas commented on #172
Thanks for the report.

The line you referenced should invoke this Python method: https://github.com/ros-visualization/qt_gui_core/blob/3d9de6ca2be2be38cfe561f7fe6fdc3744184dc4/qt_gui/src/qt_gui/settings.py#L50 Therefore the naming if the invoked method `all_keys` is correct. The problem I think is that it is not marked as a slot and therefore can't be called from C++ atm.

The same problem seems

[2019-09-30 21:26] #172 closed

[2019-10-01 07:30] martonmiklos commented on #172
@dirk-thomas  Many thanks for fixing this!

[2019-10-03 01:54] kyuhyong opened #185 "Getting multiple definition error when build ROS-melodic on PI4"
When trying to build ros-melodic from source on RPi 4 I am getting error below.
I used build instruction as this
$ sudo ./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release --install-space /opt/ros/melodic -j2
[code]

What is needed to solve this issue?

[2019-10-03 10:05] lavancig opened #186 "Error compiling on ROS kinetic. Cannot find -l-lpththread"
Getting the following compilation error on ros-kinetic:

I believe it is a simple typo. By changing the entry "-l-lpthread" to "-lpthread" on
./qt_gui_cpp/sip/qt_gui_cpp_sip/Makefile fixes it for me.

[2019-10-03 16:23] dirk-thomas commented on #186
Please provide more context: what version of `qt_gui_core` and `python_qt_binding` are you using? What platform are you building this on?

[2019-10-03 16:48] lavancig commented on #186
The versions of qt in use are:
qt_gui_cpp=0.3.11
python_qt_binding=0.3.4-0
Compilation Platform: Raspberry Pi 3 B, Debian Buster

Those versions were automatically set to be fetched by  `rosinstall_generator`,  desktop version:

[2019-10-03 17:00] dirk-thomas commented on #186
ROS Kinetic doesn't target Debian Buster so it isn't surprising that it fails. I assume you will need this upcoming patch: ros/catkin#1021.

I will close this ticket as a duplicate.

[2019-10-03 17:00] #186 closed

[2019-10-03 20:33] AnupamYedida commented on #185
I am facing the same issue as well :(

[2019-10-03 20:34] dirk-thomas commented on #185
The armHF binarydeb job fails for the same reason: http://build.ros.org/job/Mbin_ubhf_uBhf__qt_gui_cpp__ubuntu_bionic_armhf__binary/9/

[2019-10-03 22:28] #185 closed

[2019-10-03 23:43] AnupamYedida commented on #185
It worked like a charm. Thanks a ton !

[2019-10-04 04:52] dirk-thomas commented on #185
Yes, version 0.3.14 fixed the problem: http://build.ros.org/job/Mbin_ubhf_uBhf__qt_gui_cpp__ubuntu_bionic_armhf__binary/11/

[2019-10-10 15:28] bionade24 opened #189 "Fails to build with boost version 1.71"
Hi, I'm one of the ROS melodic AUR (Archlinux) maintainers.
[code]
Edit: Info

[2019-10-10 15:36] dirk-thomas commented on #189
Please provide more context what platform your are building this on and what ROS distro you are using.

[2019-10-10 17:42] bionade24 commented on #189
Latest Archlinux clean chroot
Boost 1.71
ROS melodic

[2019-10-10 17:44] dirk-thomas commented on #189
What version of `catkin` are you using? If it is not the latest (0.7.19) please try updating that one.

[2019-10-11 05:05] acxz commented on #189
I am also able to replicate this issue with `ros-melodic-catkin=0.7.19`

[2019-10-11 05:09] dirk-thomas commented on #189
Can you please provide more context for the linker failure? For which target does it fail? For that target output all arguments used in CMake using `message(...)` to determine which argument is causing this.

[2019-10-11 05:29] acxz commented on #189
Thank you for the quick response!
I would do so, but I was actually able to compile it. It turns out my `ros-melodic-python-qt-binding` had not been updated to 0.3.6. Now I am not able to replicate this issue on ArchLinux with up to date ros-melodic release packages and boost=1.71.

[2019-10-11 05:38] dirk-thomas commented on #189
@bionade24 can you confirm these results? If yes, can you please close this ticket.

[2019-10-11 07:29] bionade24 commented on #189
Builds now, thanks

[2019-10-11 07:29] #189 closed

[2019-10-16 22:06] nuclearsandwich opened #190 "pydot factory test broken by whitespace changes in dot"
Somewhere between graphviz 2.40.1 and 2.42.2, whitespace changes in have occurred in the dot output which break the factory test.

[graphviz 2.42.2](https://formulae.brew.sh/formula/graphviz) is now available in homebrew for both macOS Sierra (Crystal, Dashing), and Mojave (Eloquent). It's also currently in Debian Sid which means that it will become part of 20.04 for future ROS 2 releases.

[2019-10-17 17:13] dirk-thomas commented on #190
The actual failure message from [this build](https://ci.ros2.org/job/test_ci_osx/172/testReport/junit/qt_dotgraph.test.pydot_factory_test/PyDotFactoryTest/test_create_dot/):

[code]

https://github.com/ros-visualization/qt_gui_core/blob/5de77352b48ff5724e521cac19bfdfad0b7a1aa8/qt_dotgraph/test/pydot_factory_test.py#L90-L116

[2019-10-22 22:29] dirk-thomas commented on #190
I guess I have to do it myself...

[2019-10-22 22:45] #190 closed

[2019-10-24 07:45] kyuhyong commented on #185
I re-downloaded all packages and rebuild works fine now.

[2019-10-25 05:27] yyyoungman commented on #175
I had the same issue. This finally made it work: https://github.com/ros-visualization/python_qt_binding/pull/59/files

[2019-12-04 15:43] tpet opened #197 "Cannot create perspective from menu"
Using Perspectives -> Create perspective...
leads to the following error:
IOError: [Errno 2] No such file or directory: '/opt/ros/melodic/share/qt_gui/share/qt_gui/resource/perspective_create.ui'

The file is actually located at
/opt/ros/melodic/share/qt_gui/resource/perspective_create.ui
i.e., there is a redundant share/qt_gui.

The problem seems to be in
https://github.com/ros-visualization/qt_g

[2019-12-04 17:23] dirk-thomas commented on #197
Thanks for the report.

[2019-12-04 17:24] dirk-thomas commented on #181
Closing due to no response.

[2019-12-04 17:24] #181 closed

[2019-12-04 17:25] dirk-thomas commented on #181
Please feel free to comment with any reproducible steps which show that the current math is wrong and the ticket can be reopened.

[2019-12-04 17:25] dirk-thomas commented on #151
Closing since nobody plans to work in this.

[2019-12-04 17:25] #151 closed

[2019-12-04 17:39] #197 closed

[2019-12-04 22:06] tpet commented on #197
That was fast, thanks for the fix!

[2020-02-11 14:23] Napoleon-BlownApart opened #203 "qt_gui_cpp compiler errors wrt QBasicAtomicInt on macOS"
[MacOS, Mojave 10.14.5, Xcode 10.2 & Clang 9 (homebrew), Qt5.14.1]

I'm following the [kinetic Installation OSX Homebrew Source guide](http://wiki.ros.org/kinetic/Installation/OSX/Homebrew/Source), which has some hick-ups. I'm fixing each problem as it comes along, and I'm up to the `qt_gui_cpp` package where I've encountered a problem which I'm not sure how to approach.

The compiler is telling m

[2020-02-29 03:50] dirk-thomas commented on #142
This will be addressed by #201 and the latest `python_qt_binding` release.

[2020-02-29 05:23] dirk-thomas commented on #66
Resolved in Noetic since PySide2 is available in Ubuntu Focal with Python 3.

[2020-02-29 05:23] #66 closed

[2020-02-29 05:25] #142 closed

[2020-03-15 23:36] jcvtieck commented on #203
Hi, I'm having the same error building melodic under osx catalina.

---
In file included from /usr/local/opt/qt/lib/QtCore.framework/Headers/qmap.h:45:
/usr/local/opt/qt/lib/QtCore.framework/Headers/qrefcount.h:55:28: error: no member named
      'loadRelaxed' in 'QBasicAtomicInt'
        int count = atomic.loadRelaxed()
---

to reproduce the error:

cd ~/ros_catkin_ws/build_isolated/qt_gui_cpp &&

[2020-03-27 12:44] xauser commented on #55
Boom, this is a massive change to pclib. I can see your motivation, yet having the ADD_DEFINITIONS define in the CMakeLists results in breaking all current projetcs based on pclib.

- All other projects have to get revisited
- PClib is still on gogs, we have to take care that these get synced

[2020-04-02 15:39] rotu opened #212 "Build broken with Clang"
qt_gui_core seems to have problems with Clang.

Ubuntu Focal / ROS Master from source

It builds under GCC, though with the following warning about Clang (even though it shouldn't be using Clang at all):

[code]

Under Clang 9, I get warnings:
[code]

Under Clang 10 (and 11), I get build errors:
[code]

[2020-04-02 15:56] rotu commented on #203
I think Mac build problems are related to this https://github.com/ros-visualization/qt_gui_core/issues/212 since XCode uses recent Clang versions

[2020-04-03 07:01] rossihwang commented on #212
Same issue on Ubuntu focal/ROS2 foxy

[2020-04-03 15:59] dirk-thomas commented on #212
Please consider to provide a pull request to support newer `clang` versions.

[2020-04-03 16:03] rotu commented on #212
@dirk-thomas I tried but got lost in the crazy shiboken build process. I'll give it another shot.

[2020-04-03 17:02] rotu commented on #212
AFAICT, the build process should be calling the `setup_clang` macro in `/usr/lib/x86_64-linux-gnu/cmake/Shiboken2-5.14.0/shiboken_helpers.cmake` but no idea why it's not. Here's a trace of the cmake.
[cmake-fail-qt_gui_core.txt](https://github.com/ros-visualization/qt_gui_core/files/4428748/cmake-fail-qt_gui_core.txt)

[2020-04-14 20:37] rotu opened #214 "linker warnings on Eloquent mac CI"
https://ci.ros2.org/job/ci_osx/8271/consoleText

...

[2020-05-02 23:22] floesche opened #216 "different handling of bytes crashes qt_gui on export perspective"
Export perspective crashes qt_gui with the following tracebacks:

[code]

and after fixing this with

[code]

Python3 has a stricter handling of comparing and concatenating strings and bytes. This can be fixed without breaking python2.

[2020-05-15 19:07] flynneva opened #218 "ros2 foxy compile failure: unable to locate clang's built-in include directory"
**System Info:**
- Dell XPS 13 Laptop
- Ubuntu 20.04
- ROS2 Foxy: compiling from source with `colcon build --symlink-install`

Following the ros2 foxy compile from source instructions I receive some build errors.
Any ideas on what this might be caused from? I'll keep poking around to try and fix this on my own. Most likely it is my environment.

<details><summary>colcon build output</summary>

<p>

[2020-05-15 19:22] #218 closed

[2020-05-16 23:12] mkeyno opened #219 "fail to install qt_gui_core on Raspberry pi 4"
I've tried to install ROS melodic on Raspberry pi 4, however, can not install a couple of modules
in each attempt, I tried to install a missing dependency, but none of them work for these modules
any advice really appreciated
[code]

[2020-05-17 04:22] flynneva commented on #219
Raspberry pi4's now have ubuntu 18.04 directly supported I think. what OS are you using? I've tested this on 18.04 following [these directions](https://ubuntu.com/tutorials/how-to-install-ubuntu-on-your-raspberry-pi#1-overview) and the normal ROS melodic install directions and it worked great

[2020-05-17 04:23] flynneva commented on #212
anyone solve this issue? I've been digging and I cant seem to figure out a solution

[2020-05-18 19:30] rotu commented on #212
I *think* it works after uninstalling Shiboken and installing through pip.

[code]

though I haven't tested whether it's functional - only that it builds.

@dirk-thomas is the maintainer listed in the package manifest, so I'm sure he can comment more.

[2020-05-18 23:35] flynneva commented on #212
@rotu, thanks for the tip. was able to compile it as well...but also not quite sure to test if it is functional or not.  rviz2 works great so maybe it is working ok?

[2020-05-25 02:34] mkeyno commented on #219
@flynneva
I use official rasberian and I couldn't install a dozen of libraries
I use some package manager like synaptic to install the dependency , but its really time consuming and I couldn't install the following library
geometry_tutorials
librviz_tutorial in visualization_tutorials
orocos_kinematics_dynamics
qt_gui_core
resource_retriever
rqt
rqt_image_view
rqt_rviz
rviz
rviz_plugin_tutorials

[2020-05-25 02:45] flynneva commented on #219
if there isnt a reason to use raspbian I wouldnt use it - use ubuntu 18.04 which is officially supported for raspberry pi 4. you'll run into way less issues I think for most things

[2020-05-25 02:59] mkeyno commented on #219
@flynneva I can install & use(vnc) rasberian without monitor & keyboard whereas other OS needs  monitor & keyboard  for installation

[2020-05-25 03:12] flynneva commented on #219
you dont need mouse or monitor for the link I provided previously. did you click on it?

[2020-05-26 22:54] #216 closed

[2020-05-26 22:58] dirk-thomas commented on #219
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2020-05-26 22:58] #219 closed

[2020-05-29 13:17] mkeyno commented on #219
@flynneva , I have followed the instruction, and try to connect with rpi by putty , however, I've never abled to login with user/pass ubuntu, it always pops up with the wrong password message

[2020-05-29 15:46] flynneva commented on #219
moved discussion over to ros answers: https://answers.ros.org/question/353568/setup-ros-melodic-on-rpi4-raspberry-pi-4/?answer=353569#post-id-353569

[2020-06-13 04:24] dirk-thomas commented on #203
Please consider to propose a pull request to address this problem.

[2020-06-13 22:59] rotu commented on #203
I don't know if this was addressed to me, but I don't expect to be able to work on this. It seems like the package maintainer's responsibility.

[2020-06-15 16:24] dirk-thomas commented on #212
@rotu It would be helpful to narrow down what exact change between the version of the Debian package and the used via `pip` cause it to work for you. With that information you could request the Ubuntu package to backport the specific fix into the Debian package.

[2020-06-15 17:25] rotu commented on #212
@dirk-thomas Might be this: https://bugreports.qt.io/browse/PYSIDE-1259?jql=text%20~%20%22Unable%20to%20locate%20Clang%27s%20built-in%20include%20directory%22

I'm not planning on fixing this issue. If I were, I would switch the rosdep dependency to install via pip instead of apt.

[2020-06-15 18:51] dirk-thomas commented on #212
A Debian package can **not** depend on a package provided by `pip`. So that is not possible.

[2020-06-15 19:06] rotu commented on #212
Oof. That's a bummer. Good luck!

[2020-06-16 03:04] dirk-thomas commented on #203
It wasn't addressed to you specifically - it was addressed to anyone on this thread as well as any future reader.

What you are basically saying is that it isn't important enough for you to spend your time on it but you expect that it is important enough that you "demand" that someone should spend their time on it and fix the problem for you. That kind of expectation is unfortunately an unrealisti

[2020-06-16 07:58] Napoleon-BlownApart commented on #203
@dirk-thomas I fully understand your reasoning and appreciate the effort being contributed by many so I can achieve my personal goals. Having said that, when my circumstances change, I will be glad to help push this further.  I am presently unable to progress this further due to time pressures with my studies and my immediate need was satisfied via in install onto my Raspberry Pi4.

Where I got up

[2020-06-16 19:18] rotu commented on #203
I don't demand anything, and I'm sorry if you took at as that. But I am specifically avoiding being the point person for this bug.

My understanding is that "maintainer" is a point person who is generally responsible for making sure bugs get fixed and that PRS get triage. At the very minimum, this means making sure it builds. If that's you, since your name is in the package.xml, then please fix it

[2020-06-16 20:42] dirk-thomas commented on #203
The package does build successfully on the ROS CI infrastructure. Obviously the environment where it fails is somehow different. That is why I rely on contributors to provide the necessary patches.

[2020-06-16 20:59] dirk-thomas commented on #203
:confused:

[2020-06-16 22:15] rotu commented on #203
Yes, that’s a request, not a demand. You are a maintainer, and I think that’s a reasonable expectation of the role.

[2020-06-17 00:07] rotu commented on #203
I don't know how to confirm this. The only automated CI I see for PRs in this repo is Linux, and it doesn't look like the full battery of builds is run manually for each PR.

The linux_clang_libcxx nightly build uses Clang 10.0.0, but the whole build is currently broken.

Mojave, a REP 2000 target platform, supports both XCode 10 and XCode 11. I'm not sure which Mac build you're referring to, or w

[2020-07-02 16:32] paeunt opened #227 "Build error on ArchLinux"
Hey, I got these erros when building ROS2 foxy on ArchLinux. The GCC version is 10.1.0

[code]

[2020-07-02 16:42] acxz commented on #227
This seems related to a ROS1 build error as well. https://github.com/ros-noetic-arch/ros-noetic-qt-gui-cpp/issues/1

[2020-07-02 16:44] acxz commented on #227
Should be resolved with the following PR: https://github.com/ros-visualization/qt_gui_core/pull/226

[2020-07-03 12:55] paeunt commented on #227
good job!

[2020-07-06 23:24] #227 closed

[2020-07-10 14:25] G-Pereira opened #230 "Error building qt_gui_cpp on Fedora 32"
Building form source on Fedora 32 requires instalation of `libXext-devel` package. I am not sure how to fix this

[2020-07-10 17:16] cottsay commented on #230
Can you please post the error message that you're seeing, as well as which ROS distribution you're using?

[2020-07-11 14:57] G-Pereira commented on #230
It's a linker error on "-lXext"
I am using ROS Noetic

[2020-07-22 00:08] cottsay commented on #230
This is a pretty gnarly dependency issue, and it might be related to Fedora's effort to use Wayland. I'm not sure. In any case, the problem is actually comes from the dependencies for `python_qt_binding`, I believe. Explicitly adding it to the rosdep rules for that package seems to fix the problem, and seems like the more correct thing to do since `-lXext` is coming from the sip-generated Makefile

[2020-07-23 18:04] #230 closed

[2020-07-28 18:39] Karsten1987 opened #231 "Deprecation warning with QT 5.15.0"
I am running into a lot of problems with qt on my local mac (random segfaults, window crashes, etc.) and I am not sure if this is related to the deprecation warnings I see when building `qt_gui_cpp`.

[code]

The warnings indicate to use a new datatype (`QMultiMap`) which would break API with the current `discover` function which returns a `QMap`.

[code]

[2020-07-28 19:57] dirk-thomas commented on #231
I highly doubt that deprecation warnings are responsible for random segfaults.

Please consider to contribute a pull request to support Qt 5.15 without deprecation warnings.

For the crashes it would be helpful if you fill a separate ticket with sufficient information how to reproduce the problem as well as backtraces of the crashes.

[2020-07-29 18:35] Karsten1987 commented on #231
I would agree with this and while I can't pinpoint to anything specific, I am seeing that pinning the version back to 5.14, the deprecation warnings as well as the random segfaults disappear. Might be only a causality, maybe there's more to the change than just the deprecation.
I don't have more info at this point to open a separate ticket for it.

I also don't have time to spend on fixing the dep

[2020-08-12 03:42] adivardi opened #234 "Hide title with standalone"
I am trying to run my standalone plugin for rqt, and I would like to disable the title and options buttons, in order to save space and also disable the dock/undock. I found that when running rqt I can pass the `--hide-title` option to do exactly that, but this is disabled and set to `False` when using a standalone option.
I tried to change its default value to True and it looks fine.

Is there a r

[2020-09-14 03:45] ros-discourse commented on #212
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/is-anyone-using-ros2-gui-tools-like-rviz-on-macos/16353/9

[2020-09-14 09:44] DanWillans opened #236 "cross-compile qt_gui_cpp_sip"
Hi,

I'm trying to cross-compile qt_gui_cpp package for arm64 in x86_64 docker environment. Everything CMake works fine but there are issues when it comes to the step "Compiling generated code for qt_gui_cpp_sip Python bindings...". Previously I had issues with ld complaining about the file being in the wrong format. It seems like the sipconfig.py makes a Makefile for you and points to g++/gcc for

[2020-09-14 10:04] DanWillans commented on #236
Apologies. For future users this error has now gone away due to cleaning the build/devel folders of qt_gui_cpp.

However, I suppose the question still stands on whether there is a supported mechanism for cross-compiling this package?

[2020-09-14 17:35] dirk-thomas commented on #236
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2020-09-14 17:35] #236 closed

[2020-09-18 20:43] dirk-thomas commented on #234
Implemented in #235.

[2020-09-18 20:43] #234 closed

[2020-09-18 20:45] dirk-thomas commented on #154
This should be resolved by #222.

[2020-09-18 20:45] #154 closed

[2020-09-23 20:09] dirk-thomas opened #238 "[ROS 1] add logic to use tango_icons_vendor on Windows and macOS"
Similar to #222.

This will require someone to contribute a pull request since the maintainer doesn't have the bandwidth to do so.

[2021-02-18 21:38] yhao28 opened #248 "Recent fresh build failure with SIP_MODULE_NAME errors"
Hi,

I am doing a fresh build of qt_gui_core with catkin_make, but it always fails in my local environment with the SIP_MODULE_NAME errors below. However, the process I use works in a container that I built from Ubuntu:18.04. I checked ROS, cmake, make, gcc, python(2 and 3) etc. in my local environment and the container, and they both have the same versions. Moreover, the same process also worked

[2021-02-19 04:55] yathartha3 commented on #248
Hi @yhao28,
I had the same issue as well. I was able to solve it by doing the steps below:

$ sudo apt-get remove python-sip
_After doing this, I was missing something (python_qt_binding), so I just reinstalled ros components using:_
$ sudo apt install ros-melodic-tf2-sensor-msgs ros-melodic-grid-map "ros-melodic-qt-*"

$ rosdep update
$ sudo apt-get update

Then catkin_make.

[2021-02-19 16:14] yhao28 commented on #248
That solved my problem. Thanks!

[2021-02-19 16:14] #248 closed

[2021-02-28 01:15] joaocandre opened #249 "Issue with sip when building qt_gui_cpp"
Currently unable to build `qt_gui_cpp` with `colcon` while compiling ROS2 Foxy, the following error occurs:

	    --- stderr: qt_gui_cpp
		    sip: Py_ssize_t is undefined
		    Traceback (most recent call last):
		      File "/opt/ros2/foxy/share/python_qt_binding/cmake/sip_configure.py", line 116, in <module>
		        subprocess.check_call(cmd)
		      File "/usr/lib/python3.9/subprocess.py", l

[2021-03-16 12:18] nickalcock commented on #249
See https://riverbankcomputing.com/pipermail/pyqt/2021-February/043656.html, which does at least say that the fix is easy, without actually, say, describing the fix in any fashion.

[2021-03-16 12:20] nickalcock commented on #249
... aha! The fix is to upgrade sip v4 to v4.19.25, which has just been released to fix this.

[2021-05-10 06:49] lingxd opened #252 "stderr: qt_gui_cpp llvm-config --version : 10.0.0"
[code]

[2021-05-10 07:01] lingxd commented on #212
Did you figure out the fix for the colcon step error? I’m running into the same, and I have no success debugging it. Any help will be much appreciated! Thank you.

[2021-07-24 15:42] dongpan90 commented on #212
@lingxd Are you build ROS2 using the source code?

[2021-07-27 07:07] dongpan90 commented on #252
@lingxd  you means need to set llvm-config.
like:
(neither by checking the environment variables LLVM_INSTALL_DIR, CLANG_INSTALL_DIR  nor running llvm-config). This may lead to parse errors.

I build ros2 in the Pi4

[2021-07-27 08:14] dongpan90 commented on #185
@kyuhyong

[2021-07-27 08:38] dongpan90 opened #253 "build qt_gui_cpp failed:libqt_gui_cpp_shiboken_python.h:23:10: fatal error: 'settings.h' file not found"
OS: Pi4
pi@raspberrypi:~/ROS2/ros_ws $ uname -a
Linux raspberrypi 5.10.17-v7l+ #1421 SMP Thu May 27 14:00:13 BST 2021 armv7l GNU/Linux

ROS2 version: foxy

Error:
--- stderr: qt_gui_cpp
qt.shiboken: (typesystem) Unknown attribute for 'add-function': 'allow-thread'
qt.shiboken: (typesystem) Unable to locate Clang's built-in include directory (neither by checking the environment variables LLVM_INSTA

[2021-08-05 06:27] #253 closed

[2021-08-05 06:27] dongpan90 commented on #253
my problem

[2021-09-24 07:11] algorithmlover2016 commented on #212
I run a container ubuntu 20.04 with docker under macos. It should seems like I build in environment of ubuntu, why I will call clang ?

[2021-10-28 20:44] Blast545 opened #255 ":man_farmer: DotToQtGenerator class does not create the expected amount of qt items"
# Bug Report

This is a change in the expected behavior of the DotToQtGenerator that introduced two test regressions in the buildfarms.
Failing tests:

`qt_dotgraph.qt_dotgraph.test.dot_to_qt_test.DotToQtGeneratorTest.test_recursive`
[code]

`qt_dotgraph.qt_dotgraph.test.dot_to_qt_test.DotToQtGeneratorTest.test_simple_integration`
[code]
Reference job:
https://ci.ros2.org/view/nightly/job/nightly_

[2021-11-03 16:41] Blast545 commented on #255
This failure appeared 2 consecutive days in the buildfarm:

https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2097/
https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2098/

However, it stopped appearing. I imagine it was a problem with an upstream library, closing this issue.

[2021-11-03 16:41] #255 closed

[2021-11-05 19:08] wiyoung97 opened #256 "Package contains non-catkin packages in it"
Unable to use packages rqt without _gui-config.cmake file. I was pointed to this package containing it. Error after installing resulting in:

CMake Error at catkin/cmake/catkin_workspace.cmake:100 (message):
  This workspace contains non-catkin packages in it, and catkin cannot build
  a non-homogeneous workspace without isolation.  Try the
  'catkin_make_isolated' command instead.
Call Stack (mos

[2021-11-07 14:25] fzd9752 commented on #253
I met the same issue with rpi3b + ros2. May I know how you fix it out?

[2021-12-02 20:38] ivanpauno commented on #252
Closing as duplicate

[2021-12-02 20:38] #252 closed

[2021-12-02 20:51] ivanpauno commented on #212
building with clang 10 is passing in the nightly builds, e.g. https://ci.ros2.org/view/nightly/job/nightly_linux_clang_libcxx/989/consoleFull#console-section-324.

did you set llvm-config correctly? (see comment [here](https://github.com/ros-visualization/qt_gui_core/issues/252#issuecomment-887267187))

(it might not be working for foxy as reported in this ticket, but it should be working when bui

[2021-12-03 12:35] ivanpauno commented on #256
could you share all the steps that led to that error?
It's not clear what you're trying to do

[2021-12-03 13:54] ivanpauno commented on #231
fixed in https://github.com/ros-visualization/qt_gui_core/pull/244

[2021-12-03 13:54] #231 closed

[2021-12-03 13:56] ivanpauno commented on #214
eloquent is EOL, so I'm closing the ticket.

If this issue still applies in a newer ROS distro a new ticket can be created.

[2021-12-03 13:56] #214 closed

[2022-01-04 19:50] MatthijsBurgh opened #258 "Segmentation fault on closure of rqt with cpp plugin"
**Running on noetic**

When closing rqt, while a cpp plugin is still active, I get a segmentation fault or the following aborted.
[code]
The problem only occurs when the plugin is still active on closure. When you close the plugin manually before closing rqt, the problem doesn't occur.

I tried some more debugging on [`rqt_image_view`](https://github.com/ros-visualization/rqt_image_view). (I also

[2022-03-29 03:20] Buttosaii commented on #256
Hi I am facing the same issue when trying to catkin_make after git cloning this repo. I tried the catkin_make_isolated command but it doesn't work too.

Im running ros noetic on RPi 4.

[2022-03-29 13:59] Buttosaii commented on #256
@ivanpauno

I am running ros noetic on ubuntu in RPi4

I git clone this repo into my catkin_ws/src and when i tried catkin_make it, i am prompted with that exact same error @wiyoung97 had posted.

Reading from online sources, many had said they have managed to make it work through catkin build, however I am already using catkin_make for the rest of my projects, and it seems pretty troublesome to c

[2022-03-29 14:16] Buttosaii commented on #256
@ivanpauno I am using the noetic branch

[2022-05-04 13:49] vilkun commented on #212
Smth got it working.
I'm trying to build ros2-foxy from sources https://docs.ros.org/en/rolling/Installation/Ubuntu-Development-Setup.html
with exact clang 11 toolchain.

I installed clang11:
sudo apt install clang-11 --install-suggests

to check installation:
clang-11 --version
clang++-11 --version

I created symbol link:
sudo ln -s /usr/lib/llvm-11/bin/llvm-config /usr/bin/llvm-config
(Because i

[2022-05-27 22:52] ciandonovan commented on #21
The option `--freeze-layout` is silently ignored when using `--standalone`, what's the reasoning behind this?

When running `rqt -ht -t -l -f --standalone plugin` I get close to fullscreen "kiosk" behavior, however there is a very small (1 or 2 pixel) click target above the widget that can be used to drag it out of place.

Despite only a single widget running (standalone), the `DockWidget` still n

[2022-05-28 22:09] ciandonovan opened #263 "Option freeze layout ignored in standalone mode"
The option for freezing layouts was discussed and implemented in issue #21

However, it is not applied when running with the `--standalone` option.

While difficult due to the small click target, it is still possible to move and resize the widget in standalone mode by grabbing the top or sides of the window. There's no option then to restore the layout when running `rqt -ht -t -l -f --standalone p

[2022-06-23 20:23] ivanpauno commented on #258
Use `gdb --args ${python_executable} ${path_to_python_script} ${other_args}`, where:
- `python_executable` is `python` or `python3`.
- `path_to_python_script` is the path to rqt in your workspace.
- `other_args` if you were passing other arguments to rqt.

With that, you should be able to get a traceback.
Thanks!

[2022-06-24 14:33] MatthijsBurgh commented on #258
[code]
So the segfault is comming from https://github.com/ros/roscpp_core/blob/72ce04f8b2849e0e4587ea4d598be6ec5d24d8ca/rostime/src/time.cpp#L230.

Though the rostime code, doesn't look that weird too me. So I think the real problem is somewhere else IMO.

[2022-06-24 14:44] ivanpauno commented on #258
Global variables with non-trivial construction or destruction are harmful.
Construction order issues can be easily solved with the "initialize on first use" pattern (which is not being used here).
Destruction order issues can sometimes be solved, but it's more complex.

I think you're right.
There seems to be still an executor running in a thread, we should stop it before closing.
And for some rea

[2022-11-10 11:44] quarkytale commented on #212
I'm facing the same issue while building `qt_gui_cpp` (branch `humble`) on Humble and Ubuntu 20.04.